name: sky_book
description: "A new Flutter project."

publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  provider: ^6.1.5+1
  shared_preferences: ^2.5.3
  sqflite: ^2.3.0
  path_provider: ^2.0.11
  uuid: ^4.0.0
  path: ^1.9.1
  crypto: ^3.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/
    - assets/data/
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg